.container {
    display: flex;
}

.menu {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
}

.content {
    flex: 4;
    padding: 20px;
}
.addButton {
    margin: 16px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
   
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
   
  .modalContent h2 {
    margin-top: 0;
  }
   
  .modalContent input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
   
  .modalContent button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
  }