.container{
    position: sticky;
    top: 40px;
  }
  .userHeader {
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: bold; /* Add a specific font weight (e.g., bold) */
    font-size: 24px; /* Adjust the font size to your preference */
    color:gold;
    text-align: center; 
    text-transform: uppercase;
    
  }
  
  .user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .userImage{
    border-radius: 50%;
    object-fit: cover;
  }
  
  .userDetail{
    display: flex;
    flex-direction: column;
  }
  
  .username{
    font-weight: 500;
  }
  
  .userTitle{
    font-size: 12px;
    color: var(--textSoft);
  }

  .list{
    list-style: none;
  }

  .cat{
    color: var(--textSoft);
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px;
  }
.logout{
  padding: 20px;
  margin: 5px 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: none;
  border: none;
  color: white;
  width: 100%;

}
.logout{
  background-color: #2e374a;
}

.logout:hover{
  background-color: red;
}
.logout {
  
  display: flex;
  align-items: center;
}

.logout > svg {
  margin-left: 5px; 
}
